.c-banner{
    background-color: $bg-primary;

    .row{
        position: relative;
        top: -40px;
        justify-content: center;

        .live{
            flex: 0 0 15%;
            max-width: 15%;
            border-radius: 10px;
            background-size: contain;
            height: 315px;
            background-repeat: no-repeat;
            background-image: url('../img/banner_testcolor.png');
            filter: grayscale(1);
            cursor: pointer;
            

            &:hover{
                transform: scale(1.05);
                transition:0.6s ease-in-out;
                filter: none;
                z-index: 2;
            } 

            &__1{
                background-image: url('../img/banner_1.png' );
                &.show{
                    max-width: 50%;
                    flex: 0 0 50%;
                    background-image: url('../img/banner_home.png');
                    background-size: contain;
                    height: 315px;
                    border-radius: 10px;
                    filter: none;

                    &:hover{
                        transform: scale(1.05);
                        transition:0.6s ease-in-out;
                    }  
                    @include for-phone-only{
                        background-image: url('../img/banner_1.png' );
                    }
                }
            }
            &__2{
                background-image: url('../img/banner_2.png' );
                &.show{
                    max-width: 50%;
                    flex: 0 0 50%;
                    background-image: url('../img/banner_home.png');
                    background-size: contain;
                    height: 315px;
                    border-radius: 10px;
                    filter: none;

                    &:hover{
                        transform: scale(1.05);
                        transition:0.6s ease-in-out;
                    }  
                    @include for-phone-only{
                        background-image: url('../img/banner_1.png' );
                    }

                }
            }
            &__3{
                background-image: url('../img/banner_3.png' );
                &.show{
                    max-width: 50%;
                    flex: 0 0 50%;
                    background-image: url('../img/banner_home.png');
                    background-size: contain;
                    height: 315px;
                    border-radius: 10px;
                    filter: none;

                    &:hover{
                        transform: scale(1.05);
                        transition:0.6s ease-in-out;
                    }  
                    @include for-phone-only{
                        background-image: url('../img/banner_1.png' );
                    }
                    
                }
            }
            &__4{
                background-image: url('../img/banner_4.png' );
                &.show{
                    max-width: 50%;
                    flex: 0 0 50%;
                    background-image: url('../img/banner_home.png');
                    background-size: contain;
                    height: 315px;
                    border-radius: 10px;
                    filter: none;

                    &:hover{
                        transform: scale(1.05);
                        transition:0.6s ease-in-out;
                    }  
                    @include for-phone-only{
                        background-image: url('../img/banner_1.png' );
                    }
                }
            }
        }
    }
    .container-banner{
        position: relative;

        &-mobile{
            width: 100%;
            display: flex;
            justify-content: center;

            .banner-phone{
                max-width: 70%;
                object-fit: contain;
            }
        }
    }

    .options-shared{

        @include for-phone-only{
            padding-bottom: 32px;
        }
        .shared{
            &-text{
                font-size: 16px;
                letter-spacing: 5px;
                margin-right: 16px;
                font-weight: 450;
                text-transform: uppercase;
                color: $color-text-third;
            }
            &-box{
                .icons{
                    background-color: #161616;
                    border-radius: 6px;
                    border: 1px solid #757575;
                    margin: 0 8px;
                    height: 35px;
                    width: 35px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;


                    &:last-child{
                        margin-right: 0px;
                    }

                    i{
                        font-size: 20px;
                        color: $color-text-third;
                    }
                    .icon-face{
                        font-size: 18px;
                    }

                    &:hover{
                        border:1px solid $color-text-fourth;

                        i{
                            color: $color-text-fourth;
                        }
                    }
                }
            }
        }
    }

    .container{
        &--slick{
            top: -50px;
        }
    }
} 

