.banners {
    background-color: $color-primary;
    padding: 75px 0 96px;
    &-left {
        padding: 0 10px 0 0;
    }
    &-right {
        padding: 0 0 0 10px;
        .d-flex {
            flex-direction: column;
            justify-content: space-between;
        }
    }

    .banner {
        width: 100%;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        &-row {
            display: flex;
            gap: 20px;
        }
        
        &-img {
            img {
                width: 100%;
                max-height: none;
            }
        }
        &-title {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 15px 30px;
            text-decoration: none;
            background-color: #891738;
            color: #FFF;

            span {
                font-weight: 500;
                color: #FFFFFF;
                
            }
            i {
                display: block;
                width: 24px;
                height: 24px;
                font-size: 28px;
                color: #FFFFFF;                
                transform: rotate(-90deg);
            }
            
            
            
        }
        &:hover  {
            .banner-img {
                img {
                    width: 100%;
                    max-height: none;
                    transform: scale(1.1);
                    transition:0.6s ease-in-out;
                }

            }
            .banner-title {
                opacity: 0.9;
                span {
                    color: #FFF;
                    opacity: 1;
                }
                i {
                    color: #FFFF;
                    
                }
            }
        }
    }
}


@media (max-width: 800px) { 

    .banners {
        padding: 60px 0;
        &-left {
            padding: 0 25px;
        }
        &-right {
            padding: 0 25px;
            .banner { 
                margin-top: 10px;
            }
        }
        .banner {
            &-row {
                gap: 10px;
            }
        }
    }
}