.bola {
    background-color: #FAFAFA;
    padding: 40px 0px;
    @include for-phone-only{
        background-color: #F4F4F4;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .title-mobile{
        font-weight: 700    ;
        font-size: 34px;
        justify-content:center;
    }
    &__slick {
        width: 100%;
        
        .item {
            width: 100%;
            padding: 10px;
            .col-md-4 {
                padding: 5px;
            }
            
            &__box {
                background: #E8E8E8;
                border-radius: 15px;
                padding: 35px;
                height: 100%;

                @include for-phone-only{
                    padding: 20px;
                }
            }

            &__bola {
                padding: 60px;
                img {
                    width: 100%;
                }
            }
            &__description {
                position: relative;
                .icon_pesquisa{
                    display: none;
                    @include for-phone-only{
                        display: block;
                        position: absolute;
                        right: 5%;
                        bottom: 50%;
                        transform: translateY(50%);
                        width: 30px;
                    }
                }
                &-subtitle {
                    @include font(#222222, 400, 24px, 29px);
                    @include for-phone-only{
                        margin-bottom: 0;
                        @include font(#222222, 400, 24px, 1.5rem);
                    }
                }
                &-title {
                    @include font(#222222, bold, 30px, 2.5rem);
                }
                &-text {
                    max-height: 180px;
                    overflow-y: scroll;
                    padding-right: 10px;

                    &::-webkit-scrollbar {
                        width: 7px;
                      }
                      
                      &::-webkit-scrollbar-track {
                        background: #FFF;   
                        border-radius: 20px; 
                        border: 2px solid #E8E8E8;
                      }
                      
                      &::-webkit-scrollbar-thumb {
                        background-color: #919191; 
                        border-radius: 20px;
                        
                      }
                    @include for-phone-only{
                        display: none
                    }
                
                    p {
                        @include font(#222222, 300, 14px, 160%);
                        text-align: justify;
                    }
                }
            }
            &__gomos {
                position: relative;
                .icon_pesquisa{
                    display: none;
                    @include for-phone-only{
                        display: block;
                        position: absolute;
                        right: 5%;
                        bottom: 50%;
                        transform: translateY(50%);
                        width: 30px;
                    }
                    
                }
                &-title {
                    @include font(#222222, bold, 30px, 2.5rem);
                    display: flex;
                    justify-content: center;

                    @include for-phone-only{
                        justify-content: start;
                    }
                }
                .box-image__gomos{
                    width: 100%;
                    justify-content: center;
                    display: flex;
                    align-items: center;
                    height: 200px;

                    @include for-phone-only{
                        display: none;
                    }
                }
                
                &-img {
                    max-width: 100%;
                    object-fit: contain;
                }
            }
        }
    }
    &__nav {
        margin-top: 40px;
        display: flex;
        margin-bottom: 40px;
        .item {
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            color: #727272;
            text-align: center;
            cursor: pointer;
        }
        .slick-center {
            .item {
                font-size: 40px;
                font-weight: bold;
                color: #000;
                line-height: 30px;
            }
        }
        .slick-prev {
            left: 5px;
        }
        .slick-next {
            right: 5px;
        }
        
    }
    .bola__nav{
        .slick-next,.slick-prev{
            border: none;
            background-color: transparent;
        }
        .slick-next{
            margin-left: 10px;
            
            @include for-phone-only{
                margin-left: 0px;
            }
        }
        .slick-prev{
            margin-right: 10px;
            @include for-phone-only{
                margin-right: 0px;
            }
        }
        border-bottom: 1px dashed #505050;
        padding-bottom: 30px;
        &::after {
            position: absolute;
            display: block;
            content: "";
            width: 18px;
            height: 18px;
            bottom: -10px;
            z-index: 5;
            left: 50%;
            background: url('/img/marcador.png');
            background-repeat: no-repeat;
        }
    } 
}

    .modal{
        .modal-content{
            min-height: 400px;
            .modal-body{
                .box-bola{
                    display: none;
                    &.active{
                        display: block;
                    }
                    .box-header{
                        .country{
                            font-size: 1.2rem;
                            font-weight: 400;
                        }
                        .name__ball{
                            font-size: 1.875rem;
                            font-weight: 800;
                            line-height: 1.5rem;
                            letter-spacing: 1px;
                        }
                        
                    }
                    .text__ball{
                        font-size: 1.125rem;
                        margin-top: 32px;
                        margin-bottom: 16px;
                        line-height: 1.8rem;
                    }
                }
                .box-goma{
                    display: none;
                    padding-top: 16px;

                    .goma{
                        &__title{
                            font-weight: 800;
                            font-size: 30px;
                            padding-left: 8px;
                        }
                        &__box-img{
                            display: flex;
                            width: 100%;
                            min-height: 270px;
                            justify-content: center;

                            img{
                                object-fit: contain;
                                width: 100%;
                            }
                        }
                    }

                    &.active{
                        display: block;
                    }
                }
            }
            .modal-footer{
                .fechar{
                    position: absolute;
                    transform: translateX(-50%);
                    left: 50%;
                }
                .next-modal{ 
                    position: absolute;
                    transform: translateX(-65%);
                    left: 65%;
                    display: none;

                    &.active{
                        display: block;
                    }
                }
                .prev-modal{
                    display: none;
                    position: absolute;
                    left: 35%;
                    transform: translateX(-35%);

                    &.active{
                        display: block;
                    }
                }
            }

        }
    }