.campeoes {
    position: relative;
    &::before{
        position: absolute;
        background-color: #F4F4F4;
        content: '';
        top: 0;
        left: 0;
        height: 70%;
        width: 100%;
        z-index: -1;
    }
    @include for-phone-only {
        padding: 0;
        .container {
            padding: 0;
            
        }
    }
    .box-text-champions{
        
    }
    &__box {
        background: #295641;
        padding: 20px 40px;
        border-radius: 15px;
        @include for-phone-only {
            padding: 0;
            border-radius: 0;
            .col-md-5 {
                padding: 20px 40px;
            }
        }
    }

    &__title {
        @include font(#FFF, 700, 34px, 48px);
    }
    &__description {
        margin-top: 10px;
        width: 100%;
        @include for-phone-only {
            width: 100%;
        }
        p {
            color: #FFF;
            font-weight: 400;
            line-height: 1.6rem;
            margin-top: 0;
            margin-bottom: 0;
            @include for-phone-only {
                @include font(#FFF, 400, 13px, 150%);
                text-align: justify;
            }
        }
    }
    &__times {
        justify-content: flex-end;
        width: 100%;
        flex-wrap: wrap;
        padding: 40px 0px;
        @include for-phone-only {
            flex-wrap: nowrap;
            justify-content: flex-start;
            overflow-x: scroll;
        }
        .item {
            background: #F1F1F1;
            border: 1px solid #FFFFFF;
            padding: 15px 20px 10px;
            border-radius: 15px;
            padding: 15px 10px;
            margin: 7px;
            width: 22%;
            max-height: 175px;
            position: relative;
            @include for-phone-only {
                min-width: 150px;
            }

            &::before{
                position: absolute;
                background-color: #FFF;
                content: '';
                top: 0;
                left: 0;
                height: 40%;
                border-radius: 15px 15px 0px 0px;
                width: 100%;
                
            }
            &-escudo {
                width: 100%;
                display: flex;
                justify-content: center;
                .img {
                    width: 100px;
                    z-index: 2;
                    @media (max-width: 1400px) { 
                        width: 90px;
                    }
                }
            }

            &-content {
                background-color: #ECD39C;
                display: flex;
                justify-content: space-between;
                border-radius: 8px;
                margin-top: 20px;
                &-title {
                    text-align: left;
                    margin-top: 10px;
                    padding: 0 10px;
                    @include font(#000, bold, 12px, 14px);

                    @media (max-width: 14000px) { 
                        padding: 0 5px;
                    }
                }
                &-count {
                    background: #FFFFFF;
                    border-radius: 8px;
                    padding: 0 10px;
                    @include font(#000, bold, 15px, 14px);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}
