.curiosidade {
    padding: 85px 0 60px;
    background-color: #FFF;
    &__title {
        font-weight: 600;
        font-size: 32px;
        line-height: 38px;
        color: #000;
        @include for-phone-only {
            font-size: 28px;
            line-height: 32px;
            padding: 0 20px;
        }
    }
    &__slick {
        margin-top: 35px;
        display: flex;
        justify-content: space-between;

        @include for-phone-only {
            max-width: 100%;
            overflow-x: scroll;
            padding: 0 20px;
        }
        .contain {
            display: flex !important;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 0 20px;
            gap: 20px;
        }
        .item {
            margin: 0px 15px;
            width: 25%;
            @include for-phone-only {
                margin: 0 5px;
                width: 100%;
            }
            &__last{
                @include for-phone-only{
                    margin: 0;
                }
            }
            &-box {
                border-radius: 10px;
                background-color: #F1F1F1;
                height: 100%;

                @include for-phone-only {
                    min-width: 288px;
                }
            }
            &-img {
                &-thumb {
                    img {
                        width: 100%;
                    }
                }
                &-escudo {
                    position: relative;
                    height: 40px;
                    padding: 20px;
                    img {
                        width: 80px;
                        display: block;
                        position: absolute;
                        top: -40px;
                    }
                }
            }
            &-subtitle {
                @include font(#262626, 700, 12px, 14px);
                color:  #747474;
                text-transform: uppercase;
                padding: 0 20px;
                margin-bottom: 4px;
                margin-top: 16px;
            }
            &-title {
                @include font(#262626, 700, 20px, 24px);
                padding: 0 20px;
            }
            p {
                @include font(#747474, 400, 12px, 150%);
                padding: 0 20px;
            }
        }
    }

    .slick-dots {
        width: 100%;
        justify-content: center;
        margin-top: 10px;
        button {
            background: #000;
        }

        li.slick-active {
            button {
                opacity: 0.7;
                width: 40px;
            }
        }
    }

}

@media (max-width: 800px) { 

    .curiosidade {
        padding: 45px 0 50px;
        &-title {
            margin-left: 30px;
        }
        &-slick {
            margin-top: 25px;
            
            .contain {
                flex-wrap: wrap;
            }
            .slick-slide {
                width: 100vw !important;
                padding: 0 20px ;
            }
            .item {
                max-width: 100%;
                margin-bottom: 20px;
                min-height: auto;
                &-img {
                    width: 85px;
                    height: 85px;
                    float: left;
                    margin-right: 10px;
                    &-escudo {
                        width: 85px;
                        height: 85px;

                    }
                    img {
                        display: block;
                    }
                }
                &-title {
                    text-align: left;
                    font-weight: 900;
                }
                p {
                    
                    b {
                        font-weight: 900;
                    }
                }
            }
        }
    }
}