.timeline {
    background: $color-primary;
    padding: 60px 0;

    .title-timeline{
        font-weight: 700;
        font-size: 34px;
    }
    &__slick {
        .col-12 {
            padding: 4px;
            max-height: 415px;

            @include for-phone-only{
                max-height: 100%;
            }
        }
        .item {
            padding: 10px;
            max-height: 415px;
            @include for-phone-only{
                max-height: 100%;
            }
            
            .row{
                height: 100%;
            }
            &__box {
                background: #FFF;
                border-radius: 15px;
                padding: 15px;
                height: 100%;

                @include for-phone-only{
                    padding: 20px;
                }
                
                &-image{
                    @include for-phone-only{
                        display: flex;
                        padding: 20px;
                        align-items: center;
                    }
                }
                
                .box-text_time{
                    
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    @include for-phone-only{
                        width: 50%;
                    }
                }
                
            }
            &__boxfull {
                background: #FFF;
                border-radius: 15px;
                padding: 15px;
            }
            &__boxhalf {
                width: 100%;
                display: flex;
                &-box {
                    background: #FFF;
                    border-radius: 15px;
                    padding: 15px;
                    width: 50%;
                    margin: 8px 4px;
                    padding: 15px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    &-right{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        @include for-phone-only{
                            justify-content: center;
                        }
                        figure{
                            margin-top: 16px;
                            width: 100%;
                            margin-bottom: 0;

                            img{
                                object-fit: contain;
                                max-width: 100%;
                            }
                        }                        

                        .text-country{
                            margin-top: 40px;
                        }
                    }
                }
            }
            &__campeao {
                background-color: #ECD39C;
                img {
                    max-width: 100%;

                    @include for-phone-only{
                        max-width: 150px;
                    }

                }
                &-subtitle {
                    font-weight: 5  00;
                    font-size: 16px;
                    line-height: 1rem;
                    margin-bottom: 0;
                    text-align: center;
                    color: #222222;
                }
                &-title {
                    font-weight: bold;
                    font-size: 36px;
                    line-height: 43px;
                    text-align: center;
                    color: #222222;
                }
                &-placar {
                    font-weight: 350;
                    font-size: 14px;
                    line-height: 17px;
                    color: #222222;
                    padding: 5px;
                    background: rgba(255, 255, 255, 0.5);
                    border-radius: 5px;
                    margin-bottom: 8px;
                }
            }
            &__chuteira {
                
                
                &-img {
                    max-width: 40%;
                    @include for-phone-only{
                        max-width: 45%;
                    }
                    
                    img {
                        width: 100%;
                    }
                }
                &-info {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    max-width: 60%;
                    @include for-phone-only{
                        max-width: 55%;
                    }
                    
                    h5 {
                        margin-bottom: 0px;
                        line-height: 1rem;
                        font-size: 1rem;
                        font-weight: 400;
                    }
                    h2 {
                        font-weight: 700;
                        font-size: 1rem;
                        
                        @include for-phone-only{
                            font-size: 1.25rem;
                        }
                    }
                    .box-tags{
                        margin-top: 16px;

                        @include for-phone-only{
                            margin-top: 0;
                        }
                        span {
                            padding: 8px ;
                            background: #E4E4E4;
                            border-radius: 5px;
                            font-size: 14px;
                        }
                    }
                    
                }
            }
            &__bola {
                img {
                    max-width: 120px;
                }
                &-title{
                    display: flex;
                    justify-content: center;
                    margin-top: 16px;
                    text-align: center;
                    font-weight: 700;
                    font-size: 1.25rem;
                }
            }
            &__country {
                &-subtitle {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 1rem;
                    text-align: center;
                    color: #222222;
                    margin-bottom: 0;
                }
                &-title {
                    font-weight: bold;
                    font-size: 22px;
                    line-height: 29px;
                    text-align: center;
                    color: #222222;
                }
            }
           
            &__curiosidades{
                
                &-info{
                    padding: 8px;
                    border-radius: 5px;
                    font-size: 0.875rem;

                    @include lg{
                        font-size: 1rem;
                    }
                    &.vice{
                        background: #E0E0E0;
                        margin-right: 8px;
                    }
                    .text-one{
                        font-weight: 600;
                        padding-right: 8px;
                    }
                    .text-country{
                        background: #FFF;                            padding: 8px;
                        border-radius: 5px;
                        font-size: 0.75rem;

                        @include lg{
                            font-size: 1rem;
                        }
                    }
                    &.third{
                        background-color: #D6B18E;
                    }
                    &.fourth{
                        background-color: #E3E3E3;
                        margin-top: 8px;
                        margin-right: 8px;
                        margin-bottom: 16px;
                    }
                    &.ouro{
                        background-color: #ECD39C;
                        margin-top: 8px;
                        margin-bottom: 16px;
                    }
                }
                &-title{
                    margin-top: 8px;
    
                    @include for-phone-only{
                        margin-top: 0;
                    }
                    .title{
                        &-mobile{
                            margin-bottom: 0;
                        }
                        &-desk{
                            background-color: #B6B6B6;
                            border-radius: 5px;
                            padding: 10px 10px;
                            font-size: 18px;
                        }
                    }
                    
    
                    position: relative;
                    .icon_pesquisa{
                        width: 25px;
                        bottom: 50%;
                        transform: translateY(50%);
                        position: absolute;
                        right: 0;
                    }
                }
                &-description{
                    max-height: 150px;
                    overflow-y: scroll;
                    padding-right: 8px;

                    &::-webkit-scrollbar {
                        width: 7px;
                      }
                      
                      &::-webkit-scrollbar-track {
                        background:#E8E8E8;   
                        border-radius: 20px; 
                        border: 2px solid  #FFF;
                      }
                      
                      &::-webkit-scrollbar-thumb {
                        background-color: #919191; 
                        border-radius: 20px;
                        
                      }
                    @include for-phone-only{
                        display: none
                    }
                    .description{
                        
                        &-text{
                            font-size: 1rem;
                            line-height: 1.6rem;
                            margin-bottom:0px;
                        }
                    }
                }                
            }
        }
        
    }
    &__nav{
        padding: 40px 0 30px 0;
        display: flex;
        border-bottom: 1px dashed #3b3b3b;
        
        .item {
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            color: #727272;
            text-align: center;
            cursor: pointer;
        }
        .slick-center {
            .item {
                font-size: 40px;
                font-weight: bold;
                color: #000;
                line-height: 30px;
            }
        }
        .slick-prev {
            left: 5px;
        }
        .slick-next {
            right: 5px;
        }
        &::after {
            position: absolute;
            display: block;
            content: "";
            width: 18px;
            height: 18px;
            bottom: -10px;
            z-index: 5;
            left: 50%;
            background: url('/img/marcador.png');
            background-repeat: no-repeat;
        }
    } 
    .timeline__nav{
        .slick-next,.slick-prev{
            border: none;
            background-color: transparent;
        }
        .slick-next{
            margin-left: 10px;

            @include for-phone-only{
                margin-left: 0px;
            }
            
        }
        .slick-prev{
            margin-right: 10px;
            @include for-phone-only{
                margin-right: 0px;
            }
        }
    }

    
    
}
.modal{
    .modal-dialog{
        margin: 1rem;
    }
    .modal-content{
        border-radius: 0.5rem;
        .box-tags{
            padding: 20px 16px 0px 16px;
            .item{
                padding: 8px;
                border-radius: 5px;
                font-size: 1rem;
                
                &_vice{
                    background: #E0E0E0;
                    width: 100%;
                    .text-one{
                        font-weight: 600;
                        padding-right: 8px;
                    }
                    .text-country{
                        background: #FFF;                            padding: 8px;
                        border-radius: 5px;
                        font-size: 1rem;
                        
                    }    
                }
                &_third{
                    background-color: #D6B18E; 
                    margin-right: 16px;
                    .text-one{
                        font-weight: 600;
                        padding-right: 8px;
                    }
                    .text-country{
                        background: #FFF;                            padding: 8px;
                        border-radius: 5px;
                        font-size: 1rem;
                        
                    } 
                }
                &_fourth{
                    background-color: #E3E3E3; 
                    .text-one{
                        font-weight: 600;
                        padding-right: 8px;
                    }
                    .text-country{
                        background: #FFF;                            padding: 8px;
                        border-radius: 5px;
                        font-size: 1rem;
                        
                    } 
                }
                &_ouro{
                    background-color: #ECD39C;
                    width: 100%;
                    .text-one{
                        font-weight: 600;
                        padding-right: 8px;
                    }
                    .text-country{
                        background: #FFF;                            padding: 8px;
                        border-radius: 5px;
                        font-size: 1rem;
                    }

                }
            }
        }
        .modal-body{
            margin-bottom: 24px;
            .text_curiosidade{
                background-color: #B6B6B6;
                padding: 10px;
                border-radius: 5px;
            }
            .box_describe{
                overflow: auto;
                max-height: 250px;
                padding-right: 10px;
                .describe{
                    font-size: 1rem;
                    line-height: 1.6rem;
                }
                &::-webkit-scrollbar {
                    width: 7px;
                  }
                  
                  &::-webkit-scrollbar-track {
                    background:#E8E8E8;   
                    border-radius: 20px; 
                    border: 2px solid  #FFF;
                  }
                  
                  &::-webkit-scrollbar-thumb {
                    background-color: #919191; 
                    border-radius: 20px;
                    
                  }
            }
        }  
        .modal-footer{
            padding: 0px;
            border: none;

            .btn-fechar{
                position: absolute;
                left: 50%;
                margin: 0;
                transform: translateX(-50%);
            }
        }
    }
    
}