.timeline {
    background: $color-primary;
    padding: 50px 0;
    &__slick {
        .col-12 {
            padding: 4px;
        }
        .item {
            &__box {
                background: #FFF;
                border-radius: 15px;
                padding: 15px;
                height: 100%;

                @include for-phone-only{
                    padding: 20px;
                }
                
                &-image{
                    @include for-phone-only{
                        display: flex;
                        padding: 20px;
                        align-items: center;
                    }
                }
                
                .box-text_time{
                    width: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                }
                
            }
            &__boxfull {
                background: #FFF;
                border-radius: 15px;
                padding: 15px;
            }
            &__boxhalf {
                width: 100%;
                display: flex;
                &-box {
                    background: #FFF;
                    border-radius: 15px;
                    padding: 15px;
                    width: 50%;
                    margin: 8px 4px;
                    padding: 15px;

                    &-right{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        .text-country{
                            margin-top: 40px;
                        }
                    }
                }
            }
            &__campeao {
                background-color: #ECD39C;
                img {
                    max-width: 100%;
                }
                &-subtitle {
                    font-weight: 5  00;
                    font-size: 16px;
                    line-height: 1rem;
                    margin-bottom: 0;
                    text-align: center;
                    color: #222222;
                }
                &-title {
                    font-weight: bold;
                    font-size: 36px;
                    line-height: 43px;
                    text-align: center;
                    color: #222222;
                }
                &-placar {
                    font-weight: 350;
                    font-size: 14px;
                    line-height: 17px;
                    color: #222222;
                    padding: 5px;
                    background: rgba(255, 255, 255, 0.5);
                    border-radius: 5px;
                }
            }
            &__chuteira {
                &-img {
                    img {
                        width: 100%;
                    }
                }
                &-info {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-left: 8px;
                    h5 {
                        margin-bottom: 0px;
                        line-height: 1rem;
                        font-size: 1rem;
                    }
                    h2 {
                        font-weight: 700;
                        font-size: 1.573rem;
                    }
                    .box-tags{
                        margin-top: 16px;
                        span {
                            padding: 8px 10px;
                            background: #E4E4E4;
                            border-radius: 5px;
                        }
                    }
                    
                }
            }
            &__bola {
                img {
                    width: 100%;
                }
                &-title{
                    display: flex;
                    justify-content: center;
                    margin-top: 16px;
                    font-weight: 700;
                }
            }
            &__country {
                &-subtitle {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 1rem;
                    text-align: center;
                    color: #222222;
                    margin-bottom: 0;
                }
                &-title {
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 29px;
                    text-align: center;
                    color: #222222;
                }
            }
            &__curiosidades-title{
                .title-mobile{
                    margin-bottom: 0;
                }
                position: relative;
                .icon_pesquisa{
                    width: 25px;
                    bottom: 50%;
                    transform: translateY(50%);
                    position: absolute;
                    right: 0;
                }
            }
        }
    }
}