.uniformes {
    padding: 60px 0 100px;
    background-color: #FFF;

    .title-uniforme{
        color: #000;
        font-weight: 700;
        font-family: "Gotham";
        font-size: 34px;
        margin-bottom: 0;

        @include for-phone-only{
            padding-left: 10px;
            margin-top: 0;
        }
        
    }

    &-slick {

        .item {
            &-title {
                margin-top: 20px;
                font-weight: bold;
                font-size: 24px;
                line-height: 29px;
                color: white;
            }
            &-time {
                margin-top: 15px;
                font-weight: 700;
                font-size: 22px;
                line-height: 1.5rem;
                color: #000;
            }
            &-description {
                p {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 1.5rem;
                    color: #000;
                }
            }
            &-img {
                img {
                    width: 100%;
                    border-radius: 10px;
                }
            }
        }
        .slick-dots {
            width: 41.66666667%;
            float: left;
            button {
                background: white;
            }

            li.slick-active {
                button {
                    opacity: 0.7;
                    width: 60px;
                }
            }
        }
    }
    @media (max-width: 800px) { 
        padding: 40px 0 70px;

        &-slick {
            .item {
                padding: 0 10px;
                .col-12.col-md-5 {
                    order: 1;
                }

                &-img {
                    margin-top: 20px;
                }
            }
            .slick-dots {
                width: 100%;
                justify-content: center;
                margin-top: 10px;
    
                li.slick-active {
                    button {
                        opacity: 0.7;
                        width: 60px;
                    }
                }
            }
        }
    }
}


